body {
    margin: 0;
}
.header{
    height: 100px;
    border:1px solid black;
    margin-bottom:3em;
    display:flex;
    transition: linear 1s background-color;
    width:100%
  
}
.logo{
    background: red;
}
.title{
    background: yellow;
    flex-grow: 1;
    transition: linear 1s background-color;
}
.sign-out{
    background: green;
}
@media(min-width:600px){
    .title{
        background: gray;

    }
    .header{
        height: 100px;
    }
}
/* 
.fx-layout 
{
    display: flex;
    height:500px;
    width : 100%;
    /*background: green;*/
     /* flex-wrap: wrap; */
    /*justify-content: center;*/
    /* border:1px solid black */
}
/* 
.container {
    max-width: 700px;
    margin: 3em auto;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: .5em;
}

.box:nth-child(3){
    order(1);
    background: green;
} */
/*
.box:nth-child(2n+1){
    background: green;
}

.box:last-child{
    background: red;
} */
 */